body{
    background-color: rgb(0, 0, 0);
color: rgb(255, 0, 0);
font-family: "Jersey 10", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0%;
}   
button{
    background-color: rgb(97, 94, 94);
    color: rgb(255, 0, 0);
    font-family: "Jersey 10", sans-serif;
    cursor: pointer;
    
}
.passo{
display: none;
}
.passo.ativo{
    display:block;
}
img{

    height: 300px;
}